---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const { frontmatter } = Astro.props;
const allPosts = await getCollection("posts");
const tags = [... new Set(allPosts.map((post) => post.data.tags).flat()),];
---

<style>
  a {
    color: #00539f;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  a.tag {
  display: block;
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  padding: 0.15em 0.4em;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
  border-radius: 0.5em;
  color: #00539f; /* リンクの色 */
  text-decoration: none; /* 下線を消す */
}

a.tag:hover {
  background-color: #e0e0e0;
}

a.tag > p {
  margin: 0; /* p タグのデフォルトのマージンを削除 */
}

</style>

<BaseLayout pageTitle={ frontmatter.title }>
  <p>{ frontmatter.title }</p>
  <p>{ frontmatter.pubDate.toString().slice(0, 10) }</p>
  <p><em>{frontmatter.description}</em></p>
  <p>執筆者： { frontmatter.author }</p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
  <slot />
  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <a href={`/tags/${tag}`} class="tag">
        <p>{tag}</p>
      </a>
    ))}
  </div>
</BaseLayout>

